<table>
<tr>
  <td><input type="button" name="seven" value="   7    " (click)="pushValue('7')"></td>
  <td><input type="button" name="eight" value="   8    " (click)="pushValue('8')"></td>
  <td><input type="button" name="nine" value="   9    " (click)="pushValue('9')"></td>
  <td><input type="button" name="mul" value="   x    " (click)="pushValue('*')"></td>
</tr>
<tr>
  <td><input type="button" name="four" value="   4    " (click)="pushValue('4')"></td>
  <td><input type="button" name="five" value="   5    " (click)="pushValue('5')"></td>
  <td><input type="button" name="six" value="   6    " (click)="pushValue('6')"></td>
  <td><input type="button" name="sub" value="   -    " (click)="pushValue('-')"></td>
</tr>
<tr>
  <td><input type="button" name="one" value="   1    " (click)="pushValue('1')"></td>
  <td><input type="button" name="two" value="   2    " (click)="pushValue('2')"></td>
  <td><input type="button" name="three" value="   3    " (click)="pushValue('3')"></td>
  <td><input type="button" name="add" value="   +    " (click)="pushValue('+')"></td>
</tr>
<tr>
  <td><input type="button" name="div" value="   /    " (click)="pushValue('/')"></td>
  <td><input type="button" name="one" value="   0    " (click)="pushValue('0')"></td>
  <td><input type="button" name="AC" value="   C    " (click)="pushValue('C')"></td>
  <td><input type="button" name="result" value="   =    " (click)="pushValue('=')"></td>
</tr>
</table>
