<!DOCTYPE html>
<html lang="en">
<head>>
  <title>Shanth's Blog App</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
  <div class="ui fixed inverted menu">
    <div class="ui container">
      <div class="header item"><a href="/blogs">Shanth's Blog</a></div>
        <a href="/" class="item">Home</a>
        <a href="/blogs/new" class="item">Create Blog</a>
    </div>
  </div>
  
