body{
	background-color: rgb(0,110,210);
}


.layout{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;
	
	color: blue;
	background: rgb(0,110,210);

}

#str{
	padding: 50px;
	font-size: 35px;
	font-family: 'Pacifico', cursive;


}


#btn {
	padding: 20px;
	margin-left: 20px;
	background-color: slateblue;
	border : 2px solid black;
	font-size: 50px;
	border-radius: 50px;
	font-family: 'Lobster', cursive; 
	outline: none;
}

#demo{
	padding-left: 85px; 
	font-size: 50px;
	font-family: 'Permanent Marker', cursive;
}

#output {
	font-size: 50px;
	color: maroon;
	font-family: 'Ruslan Display', cursive;
	padding: 50px;
	margin-left: 200px;


}

#output1{
	font-size: 50px;
	color: maroon;
	font-family: 'Ruslan Display', cursive;
	padding-right: 100px;

}

#btn:hover {
	background-color: black;
	color: slateblue;
}

