body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0 auto;
}

.btn{
    width:100px;
}

td>.btn{
	width: 60px;
}


.red {
	color: #cc0000;
}

.warning{
	color: red;
}

input, button{
	margin-top: 10px;
	margin-bottom: 20px;
}

th, td{
	padding-left: 1.1em;
	font-size: 20px;
}