.flex-layout{
  height: 100%;
	width: 100%;
	position: fixed;
	display: flex;
	align-items: center;
  justify-content: center;
}

.flex-layout>.card-layout{
  max-width: 70%;
  box-shadow: 0 2px 2px 2px #ededed;
	padding: 70px;
  border-radius: 20px;
  margin-bottom: 120px;
  margin-top: 40px;
  background-color: white;
}

.flex-layout>.card-layout>.form {
	  display: flex;
    flex-direction: column;
    align-items: center;
}

.full-width-layout{
  max-width: 500px;
}

.mat-form-field{
  width: 300px;
}

.mat-fab{
  margin-top: 30px;
}

h1{
  font-family: 'Roboto';
  margin-bottom: 20px;
}



